{:paths ["src"]
 :pods {ilmoraunio/conftest {:version "0.1.0"}}
 #_#_:pods {pod-ilmoraunio-conftest {:path "pod-ilmoraunio-conftest/pod-ilmoraunio-conftest"
                                 :cache false}}}
